flask
flask-cors
pymongo
python-dotenv

langchain==0.2.6
langchain-community==0.2.6
langchain-core>=0.2.10,<0.3.0
langchain-text-splitters

faiss-cpu
huggingface-hub

python-pptx
pymupdf
docx2txt
pillow
pytesseract

unstructured[pptx]==0.18.26
