flask
flask-cors
pymongo

langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.6
langchain-text-splitters>=0.0.1
langchain-huggingface>=0.0.6

faiss-cpu
huggingface-hub
sentence-transformers

python-dotenv
python-pptx
pymupdf
docx2txt
unstructured

pytesseract
pillow
