flask
flask-cors
pymongo

langchain==0.2.6
langchain-community==0.2.6
langchain-core>=0.2.10,<0.3.0
langchain-text-splitters>=1.0.0
langchain-huggingface>=1.2.0

faiss-cpu
huggingface-hub
sentence-transformers

python-dotenv
python-pptx
pymupdf
docx2txt
unstructured

pytesseract
pillow
